In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('data/PA__Percentage_of_Cigarette_Smoking_Among_Adults_Map.csv')

In [5]:
list(data.columns.values)

['Priority Area Number',
 'Priority Area',
 'Focus Area Number',
 'Focus Area',
 'Indicator Number',
 'Indicator',
 'County Name',
 'Event Count/Rate',
 'Average Number of Denominator/Rate',
 'Percentage/Rate/Ratio',
 '95% CI',
 'Data Comments',
 'Measure Unit',
 'Quartile',
 'Mapping Distribution',
 'Data Years',
 'Data Sources',
 'New York State Baseline',
 '2017 Objective',
 'Objective Region',
 'Location']

In [32]:
subData = data[list([data.columns[6], data.columns[9], data.columns[10], data.columns[-1]])]

In [34]:
subData

     County Name  Percentage/Rate/Ratio       95% CI                 Location
0         Albany                   17.0  (12.8-21.1)  (42.678066, -73.814233)
1       Allegany                   24.6  (19.3-29.9)  (42.226801, -78.020567)
2         Broome                   20.3  (15.4-25.1)  (42.122015, -75.933191)
3    Cattaraugus                   23.5  (19.2-27.8)  (42.224267, -78.606673)
4         Cayuga                   22.1  (17.4-26.8)  (42.940095, -76.560755)
5     Chautauqua                   25.3  (20.4-30.2)  (42.246904, -79.315313)
6        Chemung                   30.0  (24.4-35.7)  (42.116644, -76.812331)
7       Chenango                   23.8  (19.3-28.4)  (42.481798, -75.570013)
8        Clinton                   21.5  (16.1-26.9)  (44.731944, -73.548883)
9       Columbia                   23.1  (18.0-28.2)  (42.276913, -73.682168)
10      Cortland                   22.1  (16.8-27.4)  (42.597101, -76.143291)
11      Delaware                   21.0  (17.0-25.0)  (42.242972, -74.997944)
12      Dutchess                   18.3  (13.9-22.6)  (41.686216, -73.840468)
13          Erie                   25.5  (20.3-30.8)  (42.888143, -78.795544)
14         Essex                   23.0  (18.3-27.8)  (44.166026, -73.685145)
15      Franklin                   30.7  (23.4-38.0)  (44.705699, -74.340621)
16        Fulton                   24.0  (19.7-28.2)   (43.06014, -74.331296)
17       Genesee                   18.0  (14.0-22.0)  (43.000121, -78.172679)
18        Greene                   23.8  (18.0-29.5)  (42.298326, -73.973376)
19      Hamilton                   20.5  (16.1-24.9)  (43.618468, -74.395268)
20      Herkimer                   21.1  (16.7-25.5)  (43.070026, -74.994246)
21     Jefferson                   25.0  (20.2-29.9)  (44.019295, -75.898971)
22         Lewis                   18.9  (14.3-23.6)  (43.785537, -75.446296)
23    Livingston                   16.6  (12.5-20.7)  (42.763754, -77.765392)
24       Madison                   25.2  (20.4-30.0)  (42.986917, -75.720031)
25        Monroe                   19.1  (14.6-23.7)  (43.161748, -77.620143)
26    Montgomery                   21.9  (17.6-26.2)  (42.933637, -74.341972)
27        Nassau                   10.0   (7.2-12.8)  (40.715749, -73.601185)
28       Niagara                   26.2  (21.3-31.1)  (43.134634, -78.856419)
29        Oneida                   24.0  (19.5-28.4)  (43.149482, -75.361773)
..           ...                    ...          ...                      ...
32        Orange                   20.3  (14.8-25.8)  (41.422459, -74.241929)
33       Orleans                   28.9  (23.5-34.4)  (43.248394, -78.218438)
34        Oswego                   24.8  (20.1-29.5)    (43.39123, -76.31133)
35        Otsego                   21.8  (16.7-27.0)  (42.564852, -75.060334)
36        Putnam                   13.0   (9.9-16.1)   (41.41131, -73.717443)
37    Rensselaer                   18.7  (14.6-22.7)   (42.70098, -73.628669)
38      Rockland                    9.5   (6.6-12.5)  (41.127287, -74.017033)
39  St. Lawrence                   24.9  (20.0-29.8)  (44.689468, -75.242045)
40      Saratoga                   17.0  (12.9-21.0)   (43.00894, -73.786779)
41   Schenectady                   17.0  (13.5-20.6)  (42.809233, -73.946838)
42     Schoharie                   23.9  (18.8-29.0)  (42.643426, -74.434606)
43      Schuyler                   22.6  (18.3-27.0)   (42.38593, -76.872032)
44        Seneca                   23.7  (18.7-28.7)   (42.833627, -76.82753)
45       Steuben                   21.1  (17.0-25.3)  (42.270053, -77.324618)
46       Suffolk                   17.5  (12.9-22.1)  (40.820237, -73.119032)
47      Sullivan                   27.9  (22.7-33.0)  (41.705166, -74.711705)
48         Tioga                   21.6  (17.2-26.1)   (42.120252, -76.29595)
49      Tompkins                   13.5   (7.7-19.3)  (42.461024, -76.478784)
50        Ulster                   22.4  (17.8-27.0)  (41.848374, -74.099412)
51        Warren                   20.5  (15.9-25.2)  (43.403024, -73.716044)
52    Washington                   23.2  (17.9-28.4)  (43.289513, -73.454761)
53         Wayne                   19.4  (14.9-23.8)  (43.144336, -77.117995)
54   Westchester                   11.7   (8.1-15.4)  (41.039278, -73.805386)
55       Wyoming                   22.4  (16.2-28.7)  (42.723641, -78.204473)
56         Yates                   17.1  (13.2-20.9)  (42.634338, -77.078311)
57         Bronx                   18.1  (15.4-21.1)   (40.85589, -73.868294)
58         Kings                   16.1  (14.1-18.3)   (40.65642, -73.950691)
59      New York                   15.0  (12.5-18.0)  (40.726966, -74.005966)
60        Queens                   14.6  (12.5-17.0)  (40.749338, -73.789673)
61      Richmond                   19.7  (16.4-23.6)  (40.566763, -74.148102)

[62 rows x 4 columns]

In [52]:
cancerDir = "data/NYSDOH_CancerMapping_Data_2005_2009/"

In [53]:
cancerFile = "NYSDOH_CancerMapping_Data_2005_2009.csv"

In [54]:
cancerDir+cancerFile

'data/NYSDOH_CancerMapping_Data_2005_2009/NYSDOH_CancerMapping_Data_2005_2009.csv'

In [55]:
cancerData = pd.read_csv(cancerDir+cancerFile)

In [58]:
cancerData

,geoid10,observed_Bladder,observed_Bone,observed_Brain,observed_Breast,observed_Colorectal,observed_Esophagus,observed_Kidney,observed_Larynx,observed_Leukemia,...,highlight_Nasal,highlight_Oral,highlight_Ovary,highlight_Pancreas,highlight_Prostate,highlight_Soft_Tissue,highlight_Stomach,highlight_Testis,highlight_Thyroid,highlight_Uterus
0,360010001001,4,0,0,0,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
1,360010001002,1,0,0,2,2,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,360010002001,1,0,1,9,2,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
3,360010002002,0,0,0,3,2,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,360010003001,2,0,0,3,3,0,2,1,2,...,0,0,0,0,0,0,0,0,0,0
5,360010003002,0,0,0,1,7,0,1,2,0,...,0,0,0,0,0,0,0,0,0,0
6,360010003003,7,0,2,2,4,2,3,2,1,...,0,0,0,0,0,0,0,0,0,0
7,360010003004,1,0,1,4,5,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,360010004011,6,0,1,16,11,1,2,0,4,...,0,0,0,0,0,0,0,0,0,0
9,360010004031,4,0,0,7,2,0,1,1,2,...,0,0,0,0,0,0,0,0,0,0
10,360010004032,2,0,0,2,4,1,2,0,1,...,0,0,0,0,0,0,0,0,0,0
11,360010004033,2,0,0,4,2,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
12,360010004034,1,0,1,5,2,1,2,0,1,...,0,0,0,0,0,0,0,0,0,0
13,360010005011,1,0,0,1,2,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,360010005014,1,1,0,1,3,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,360010006003,0,0,2,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
16,360010007001,0,0,1,4,2,0,2,0,1,...,0,0,0,0,0,0,0,0,0,0
17,360010007002,0,0,0,2,3,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
18,360010007003,0,0,0,6,4,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,360010007004,0,1,1,1,1,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
20,360010008003,0,0,1,2,3,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,360010011001,1,0,1,4,7,2,0,1,4,...,0,0,0,0,0,0,0,0,0,0
22,360010014001,0,1,0,3,1,0,2,0,2,...,0,0,0,0,0,0,0,0,0,0
23,360010014002,0,0,0,5,4,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,360010014003,0,0,0,4,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,360010015001,2,0,0,6,2,0,1,1,2,...,0,0,0,0,0,0,0,0,0,0
26,360010016001,0,0,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,360010016002,0,0,0,4,1,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
28,360010016003,1,0,0,3,4,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
29,360010016004,1,0,0,5,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13793,361219709003,1,0,0,2,2,0,0,0,0,...,0,0,0,0,0,0,-1,0,-1,0
13794,361219710001,2,1,0,3,6,0,4,0,1,...,0,0,0,0,0,0,-1,0,-1,0
13795,361219710002,1,0,2,4,2,0,0,0,1,...,0,0,0,0,0,0,-1,0,-1,0
13796,361219710003,1,0,0,3,3,1,1,0,0,...,0,0,0,0,0,0,-1,0,-1,0
13797,361219710004,2,0,2,4,2,0,1,0,2,...,0,0,0,0,0,0,-1,0,-1,0
13798,361219711001,6,0,0,2,3,0,4,0,0,...,0,0,0,0,0,0,-1,0,-1,0
13799,361219711002,5,0,1,4,5,0,1,0,2,...,0,0,0,0,0,0,-1,0,-1,0
13800,361219711003,3,0,1,5,2,0,2,0,0,...,0,0,0,0,0,0,-1,0,-1,0
13801,36121DOH0001,4,0,0,6,3,1,4,0,2,...,0,0,0,0,0,0,-1,0,-1,0
13802,361231501001,3,0,1,6,2,1,4,1,0,...,0,0,0,0,0,0,-1,0,0,0
13803,361231501002,1,0,0,2,3,1,0,0,0,...,0,0,0,0,0,0,-1,0,0,0
13804,361231501003,2,0,0,2,2,0,0,1,1,...,0,0,0,0,0,0,-1,0,0,0
13805,361231501004,3,0,0,4,1,0,0,0,1,...,0,0,0,0,0,0,-1,0,0,0
13806,361231501005,2,0,0,2,3,0,0,0,0,...,0,0,0,0,0,0,-1,0,0,0
13807,361231501006,1,0,3,5,4,1,1,0,1,...,0,0,0,0,0,0,-1,0,-1,0
13808,361231502001,2,0,3,12,7,3,4,0,3,...,0,0,0,0,0,0,-1,0,-1,0
13809,361231502002,0,0,1,5,1,0,2,0,1,...,0,0,0,0,0,0,-1,0,-1,0
13810,361231502003,3,0,0,5,5,1,1,1,0,...,0,0,0,0,0,0,-1,0,-1,0
13811,361231503001,2,0,0,6,4,0,5,0,1,...,0,0,0,0,0,0,-1,0,-1,0
13812,361231503002,0,0,2,3,6,1,5,0,1,...,0,0,0,0,0,0,-1,0,-1,0
13813,361231503003,2,0,0,5,5,0,1,3,1,...,0,0,0,0,0,0,-1,0,-1,0
13814,361231503004,2,0,0,7,4,0,1,0,2,...,0,0,0,0,0,0,-1,0,-1,0
13815,361231504001,6,0,0,6,2,0,1,0,1,...,0,0,0,0,0,0,-1,0,-1,0
13816,361231504002,0,1,2,9,1,0,1,0,1,...,0,0,0,0,0,0,-1,0,-1,0
13817,361231504003,4,0,1,2,1,1,0,0,2,...,0,0,0,0,0,0,-1,0,-1,0
13818,361231504004,1,0,1,3,2,0,0,0,1,...,0,0,0,0,0,0,-1,0,-1,0
13819,361231505001,2,0,0,4,6,0,1,0,3,...,0,0,0,0,0,0,-1,0,-1,0
13820,361231505002,3,0,0,6,2,0,2,1,2,...,0,0,0,0,0,0,-1,0,-1,0
13821,361231505003,3,0,0,5,7,0,1,0,1,...,0,0,0,0,0,0,-1,0,-1,0
13822,361231505004,0,0,0,2,0,0,2,0,0,...,0,0,0,0,0,0,-1,0,-1,0

In [59]:
# https://health.data.ny.gov/Health/Community-Health-All-Cancer-Incidence-Age-adjusted/4wxt-6bzs
c = pd.read_csv('data/Community_Health__All_Cancer_Incidence_Age-adjusted_Rate_per_100_000_by_County_Maps__Latest_Data.csv')

In [60]:
c

,County Name,Health Topic Number,Health Topic,Indicator Number,Indicator,Event Count,Average Number of Denominator,Measure Unit,Percent/Rate,Lower Limit of 95% CI,Upper Limit of 95% CI,Data Comments,Quartile,Data Years,Data Source,Mapping Distribution,Location
0,Albany,1,Cancer Indicators,g1a,Age-adjusted all cancer incidence rate per 100...,5448,304062,Rate,519.6,NaN,NaN,NaN,507.8 - < 525.5 : Q3,2009-2011,"Cancer Registry Data as of April, 2014",2,"(42.678066, -73.814233)"
1,Allegany,1,Cancer Indicators,g1a,Age-adjusted all cancer incidence rate per 100...,856,48899,Rate,498.7,NaN,NaN,NaN,0 - < 507.8 : Q1 & Q2,2009-2011,"Cancer Registry Data as of April, 2014",1,"(42.226801, -78.020567)"
2,Broome,1,Cancer Indicators,g1a,Age-adjusted all cancer incidence rate per 100...,3836,200111,Rate,510.0,NaN,NaN,NaN,507.8 - < 525.5 : Q3,2009-2011,"Cancer Registry Data as of April, 2014",2,"(42.122015, -75.933191)"
3,Cattaraugus,1,Cancer Indicators,g1a,Age-adjusted all cancer incidence rate per 100...,1564,80191,Rate,521.7,NaN,NaN,NaN,507.8 - < 525.5 : Q3,2009-2011,"Cancer Registry Data as of April, 2014",2,"(42.224267, -78.606673)"
4,Cayuga,1,Cancer Indicators,g1a,Age-adjusted all cancer incidence rate per 100...,1435,79969,Rate,488.2,NaN,NaN,NaN,0 - < 507.8 : Q1 & Q2,2009-2011,"Cancer Registry Data as of April, 2014",1,"(42.940095, -76.560755)"
5,Chautauqua,1,Cancer Indicators,g1a,Age-adjusted all cancer incidence rate per 100...,2945,134793,Rate,568.8,NaN,NaN,NaN,525.5 + : Q4,2009-2011,"Cancer Registry Data as of April, 2014",3,"(42.246904, -79.315313)"
6,Chemung,1,Cancer Indicators,g1a,Age-adjusted all cancer incidence rate per 100...,1806,88840,Rate,547.4,NaN,NaN,NaN,525.5 + : Q4,2009-2011,"Cancer Registry Data as of April, 2014",3,"(42.116644, -76.812331)"
7,Chenango,1,Cancer Indicators,g1a,Age-adjusted all cancer incidence rate per 100...,1063,50384,Rate,542.8,NaN,NaN,NaN,525.5 + : Q4,2009-2011,"Cancer Registry Data as of April, 2014",3,"(42.481798, -75.570013)"
8,Clinton,1,Cancer Indicators,g1a,Age-adjusted all cancer incidence rate per 100...,1499,82123,Rate,543.9,NaN,NaN,NaN,525.5 + : Q4,2009-2011,"Cancer Registry Data as of April, 2014",3,"(44.731944, -73.548883)"
9,Columbia,1,Cancer Indicators,g1a,Age-adjusted all cancer incidence rate per 100...,1289,62864,Rate,486.2,NaN,NaN,NaN,0 - < 507.8 : Q1 & Q2,2009-2011,"Cancer Registry Data as of April, 2014",1,"(42.276913, -73.682168)"
10,Cortland,1,Cancer Indicators,g1a,Age-adjusted all cancer incidence rate per 100...,855,49348,Rate,528.6,NaN,NaN,NaN,525.5 + : Q4,2009-2011,"Cancer Registry Data as of April, 2014",3,"(42.597101, -76.143291)"
11,Delaware,1,Cancer Indicators,g1a,Age-adjusted all cancer incidence rate per 100...,975,47861,Rate,470.6,NaN,NaN,NaN,0 - < 507.8 : Q1 & Q2,2009-2011,"Cancer Registry Data as of April, 2014",1,"(42.242972, -74.997944)"
12,Dutchess,1,Cancer Indicators,g1a,Age-adjusted all cancer incidence rate per 100...,5093,297542,Rate,498.8,NaN,NaN,NaN,0 - < 507.8 : Q1 & Q2,2009-2011,"Cancer Registry Data as of April, 2014",1,"(41.686216, -73.840468)"
13,Erie,1,Cancer Indicators,g1a,Age-adjusted all cancer incidence rate per 100...,18693,918704,Rate,551.0,NaN,NaN,NaN,525.5 + : Q4,2009-2011,"Cancer Registry Data as of April, 2014",3,"(42.888143, -78.795544)"
14,Essex,1,Cancer Indicators,g1a,Age-adjusted all cancer incidence rate per 100...,762,39325,Rate,463.9,NaN,NaN,NaN,0 - < 507.8 : Q1 & Q2,2009-2011,"Cancer Registry Data as of April, 2014",1,"(44.166026, -73.685145)"
15,Franklin,1,Cancer Indicators,g1a,Age-adjusted all cancer incidence rate per 100...,854,51622,Rate,486.1,NaN,NaN,NaN,0 - < 507.8 : Q1 & Q2,2009-2011,"Cancer Registry Data as of April, 2014",1,"(44.705699, -74.340621)"
16,Fulton,1,Cancer Indicators,g1a,Age-adjusted all cancer incidence rate per 100...,1080,55403,Rate,512.5,NaN,NaN,NaN,507.8 - < 525.5 : Q3,2009-2011,"Cancer Registry Data as of April, 2014",2,"(43.06014, -74.331296)"
17,Genesee,1,Cancer Indicators,g1a,Age-adjusted all cancer incidence rate per 100...,1218,60002,Rate,546.1,NaN,NaN,NaN,525.5 + : Q4,2009-2011,"Cancer Registry Data as of April, 2014",3,"(43.000121, -78.172679)"
18,Greene,1,Cancer Indicators,g1a,Age-adjusted all cancer incidence rate per 100...,1016,49162,Rate,509.3,NaN,NaN,NaN,507.8 - < 525.5 : Q3,2009-2011,"Cancer Registry Data as of April, 2014",2,"(42.298326, -73.973376)"
19,Hamilton,1,Cancer Indicators,g1a,Age-adjusted all cancer incidence rate per 100...,127,4829,Rate,490.8,NaN,NaN,NaN,0 - < 507.8 : Q1 & Q2,2009-2011,"Cancer Registry Data as of April, 2014",1,"(43.618468, -74.395268)"
20,Herkimer,1,Cancer Indicators,g1a,Age-adjusted all cancer incidence rate per 100...,1230,64341,Rate,493.1,NaN,NaN,NaN,0 - < 507.8 : Q1 & Q2,2009-2011,"Cancer Registry Data as of April, 2014",1,"(43.070026, -74.994246)"
21,Jefferson,1,Cancer Indicators,g1a,Age-adjusted all cancer incidence rate per 100...,1682,116538,Rate,508.3,NaN,NaN,NaN,507.8 - < 525.5 : Q3,2009-2011,"Cancer Registry Data as of April, 2014",2,"(44.019295, -75.898971)"
22,Lewis,1,Cancer Indicators,g1a,Age-adjusted all cancer incidence rate per 100...,452,27073,Rate,457.4,NaN,NaN,NaN,0 - < 507.8 : Q1 & Q2,2009-2011,"Cancer Registry Data as of April, 2014",1,"(43.785537, -75.446296)"
23,Livingston,1,Cancer Indicators,g1a,Age-adjusted all cancer incidence rate per 100...,1034,65280,Rate,460.2,NaN,NaN,NaN,0 - < 507.8 : Q1 & Q2,2009-2011,"Cancer Registry Data as of April, 2014",1,"(42.763754, -77.765392)"
24,Madison,1,Cancer Indicators,g1a,Age-adjusted all cancer incidence rate per 100...,1294,73333,Rate,509.3,NaN,NaN,NaN,507.8 - < 525.5 : Q3,2009-2011,"Cancer Registry Data as of April, 2014",2,"(42.986917, -75.720031)"
25,Monroe,1,Cancer Indicators,g1a,Age-adjusted all cancer incidence rate per 100...,13023,744549,Rate,510.4,NaN,NaN,NaN,507.8 - < 525.5 : Q3,2009-2011,"Cancer Registry Data as of April, 2014",2,"(43.161748, -77.620143)"
26,Montgomery,1,Cancer Indicators,g1a,Age-adjusted all cancer incidence rate per 100...,983,50059,Rate,507.3,NaN,NaN,NaN,0 - < 507.8 : Q1 & Q2,2009-2011,"Cancer Registry Data as of April, 2014",1,"(42.933637, -74.341972)"
27,Nassau,1,Cancer Indicators,g1a,Age-adjusted all cancer incidence rate per 100...,25799,1339186,Rate,522.9,NaN,NaN,NaN,507.8 - < 525.5 : Q3,2009-2011,"Cancer Registry Data as of April, 2014",2,"(40.715749, -73.601185)"
28,Niagara,1,Cancer Indicators,g1a,Age-adjusted all cancer incidence rate per 100...,4246,216199,Rate,516.0,NaN,NaN,NaN,507.8 - < 525.5 : Q3,2009-2011,"Cancer Registry Data as of April, 2014",2,"(43.134634, -78.856419)"
29,Oneida,1,Cancer Indicators,g1a,Age-adjusted all cancer incidence rate per 100...,4486,234592,Rate,508.3,NaN,NaN,NaN,507.8 - < 525.5 : Q3,2009-2011,"Cancer Registry Data as of April, 2014",2,"(43.149482, -75.361773)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32,Orange,1,Cancer Indicators,g1a,Age-adjusted all cancer incidence rate per 100...,5610,373501,Rate,505.5,NaN,NaN,NaN,0 - < 507.8 : Q1 & Q2,2009-2011,"Cancer Registry Data as of April, 2014",1,"(41.422459, -74.241929)"
33,Orleans,1,Cancer Indicators,g1a,Age-adjusted all cancer incidence rate per 100...,757,42819,Rate,493.1,NaN,NaN,NaN,0 - < 507.8 : Q1 & Q2,2009-2011,"Cancer Registry Data as of April, 2014",1,"(43.248394, -78.218438)"
34,Oswego,1,Cancer Indicators,g1a,Age-adjusted all cancer incidence rate per 100...,2138,122150,Rate,539.7,NaN,NaN,NaN,525.5 + : Q4,2009-2011,"Cancer Registry Data as of April, 2014",3,"(43.39123, -76.31133)"
35,Otsego,1,Cancer Indicators,g1a,Age-adjusted all cancer incidence rate per 100...,1157,62141,Rate,483.9,NaN,NaN,NaN,0 - < 507.8 : Q1 & Q2,2009-2011,"Cancer Registry Data as of April, 2014",1,"(42.564852, -75.060334)"
36,Putnam,1,Cancer Indicators,g1a,Age-adjusted all cancer incidence rate per 100...,1727,99772,Rate,516.3,NaN,NaN,NaN,507.8 - < 525.5 : Q3,2009-2011,"Cancer Registry Data as of April, 2014",2,"(41.41131, -73.717443)"
37,Rensselaer,1,Cancer Indicators,g1a,Age-adjusted all cancer incidence rate per 100...,2978,159337,Rate,544.7,NaN,NaN,NaN,525.5 + : Q4,2009-2011,"Cancer Registry Data as of April, 2014",3,"(42.70098, -73.628669)"
38,Rockland,1,Cancer Indicators,g1a,Age-adjusted all cancer incidence rate per 100...,5187,312110,Rate,507.0,NaN,NaN,NaN,0 - < 507.8 : Q1 & Q2,2009-2011,"Cancer Registry Data as of April, 2014",1,"(41.127287, -74.017033)"
39,St. Lawrence,1,Cancer Indicators,g1a,Age-adjusted all cancer incidence rate per 100...,1941,111925,Rate,509.0,NaN,NaN,NaN,507.8 - < 525.5 : Q3,2009-2011,"Cancer Registry Data as of April, 2014",2,"(44.689468, -75.242045)"
40,Saratoga,1,Cancer Indicators,g1a,Age-adjusted all cancer incidence rate per 100...,3852,219841,Rate,505.3,NaN,NaN,NaN,0 - < 507.8 : Q1 & Q2,2009-2011,"Cancer Registry Data as of April, 2014",1,"(43.00894, -73.786779)"
41,Schenectady,1,Cancer Indicators,g1a,Age-adjusted all cancer incidence rate per 100...,2691,154680,Rate,484.6,NaN,NaN,NaN,0 - < 507.8 : Q1 & Q2,2009-2011,"Cancer Registry Data as of April, 2014",1,"(42.809233, -73.946838)"
42,Schoharie,1,Cancer Indicators,g1a,Age-adjusted all cancer incidence rate per 100...,611,32682,Rate,498.3,NaN,NaN,NaN,0 - < 507.8 : Q1 & Q2,2009-2011,"Cancer Registry Data as of April, 2014",1,"(42.643426, -74.434606)"
43,Schuyler,1,Cancer Indicators,g1a,Age-adjusted all cancer incidence rate per 100...,398,18366,Rate,546.9,NaN,NaN,NaN,525.5 + : Q4,2009-2011,"Cancer Registry Data as of April, 2014",3,"(42.38593, -76.872032)"
44,Seneca,1,Cancer Indicators,g1a,Age-adjusted all cancer incidence rate per 100...,639,35230,Rate,489.1,NaN,NaN,NaN,0 - < 507.8 : Q1 & Q2,2009-2011,"Cancer Registry Data as of April, 2014",1,"(42.833627, -76.82753)"
45,Steuben,1,Cancer Indicators,g1a,Age-adjusted all cancer incidence rate per 100...,1805,98973,Rate,484.4,NaN,NaN,NaN,0 - < 507.8 : Q1 & Q2,2009-2011,"Cancer Registry Data as of April, 2014",1,"(42.270053, -77.324618)"
46,Suffolk,1,Cancer Indicators,g1a,Age-adjusted all cancer incidence rate per 100...,27335,1493470,Rate,540.8,NaN,NaN,NaN,525.5 + : Q4,2009-2011,"Cancer Registry Data as of April, 2014",3,"(40.820237, -73.119032)"
47,Sullivan,1,Cancer Indicators,g1a,Age-adjusted all cancer incidence rate per 100...,1359,77339,Rate,475.6,NaN,NaN,NaN,0 - < 507.8 : Q1 & Q2,2009-2011,"Cancer Registry Data as of April, 2014",1,"(41.705166, -74.711705)"
48,Tioga,1,Cancer Indicators,g1a,Age-adjusted all cancer incidence rate per 100...,1030,51125,Rate,537.3,NaN,NaN,NaN,525.5 + : Q4,2009-2011,"Cancer Registry Data as of April, 2014",3,"(42.120252, -76.29595)"
49,Tompkins,1,Cancer Indicators,g1a,Age-adjusted all cancer incidence rate per 100...,1401,101625,Rate,500.6,NaN,NaN,NaN,0 - < 507.8 : Q1 & Q2,2009-2011,"Cancer Registry Data as of April, 2014",1,"(42.461024, -76.478784)"
50,Ulster,1,Cancer Indicators,g1a,Age-adjusted all cancer incidence rate per 100...,3256,182520,Rate,479.8,NaN,NaN,NaN,0 - < 507.8 : Q1 & Q2,2009-2011,"Cancer Registry Data as of April, 2014",1,"(41.848374, -74.099412)"
51,Warren,1,Cancer Indicators,g1a,Age-adjusted all cancer incidence rate per 100...,1395,65749,Rate,520.8,NaN,NaN,NaN,507.8 - < 525.5 : Q3,2009-2011,"Cancer Registry Data as of April, 2014",2,"(43.403024, -73.716044)"
52,Washington,1,Cancer Indicators,g1a,Age-adjusted all cancer incidence rate per 100...,1315,63188,Rate,564.9,NaN,NaN,NaN,525.5 + : Q4,2009-2011,"Cancer Registry Data as of April, 2014",3,"(43.289513, -73.454761)"
53,Wayne,1,Cancer Indicators,g1a,Age-adjusted all cancer incidence rate per 100...,1756,93621,Rate,525.5,NaN,NaN,NaN,507.8 - < 525.5 : Q3,2009-2011,"Cancer Registry Data as of April, 2014",2,"(43.144336, -77.117995)"
54,Westchester,1,Cancer Indicators,g1a,Age-adjusted all cancer incidence rate per 100...,16591,950128,Rate,493.6,NaN,NaN,NaN,0 - < 507.8 : Q1 & Q2,2009-2011,"Cancer Registry Data as of April, 2014",1,"(41.039278, -73.805386)"
55,Wyoming,1,Cancer Indicators,g1a,Age-adjusted all cancer incidence rate per 100...,857,42106,Rate,588.3,NaN,NaN,NaN,525.5 + : Q4,2009-2011,"Cancer Registry Data as of April, 2014",3,"(42.723641, -78.204473)"
56,Yates,1,Cancer Indicators,g1a,Age-adjusted all cancer incidence rate per 100...,484,25375,Rate,499.4,NaN,NaN,NaN,0 - < 507.8 : Q1 & Q2,2009-2011,"Cancer Registry Data as of April, 2014",1,"(42.634338, -77.078311)"
57,Bronx,1,Cancer Indicators,g1a,Age-adjusted all cancer incidence rate per 100...,17816,1385141,Rate,464.2,NaN,NaN,NaN,0 - < 507.8 : Q1 & Q2,2009-2011,"Cancer Registry Data as of April, 2014",1,"(40.85589, -73.868294)"
58,Kings,1,Cancer Indicators,g1a,Age-adjusted all cancer incidence rate per 100...,34142,2509637,Rate,460.2,NaN,NaN,NaN,0 - < 507.8 : Q1 & Q2,2009-2011,"Cancer Registry Data as of April, 2014",1,"(40.65642, -73.950691)"
59,New York,1,Cancer Indicators,g1a,Age-adjusted all cancer incidence rate per 100...,24574,1590953,Rate,471.9,NaN,NaN,NaN,0 - < 507.8 : Q1 & Q2,2009-2011,"Cancer Registry Data as of April, 2014",1,"(40.726966, -74.005966)"
60,Queens,1,Cancer Indicators,g1a,Age-adjusted all cancer incidence rate per 100...,32106,2232970,Rate,445.1,NaN,NaN,NaN,0 - < 507.8 : Q1 & Q2,2009-2011,"Cancer Registry Data as of April, 2014",1,"(40.749338, -73.789673)"
61,Richmond,1,Cancer Indicators,g1a,Age-adjusted all cancer incidence rate per 100...,8053,468942,Rate,522.2,NaN,NaN,NaN,507.8 - < 525.5 : Q3,2009-2011,"Cancer Registry Data as of April, 2014",2,"(40.566763, -74.148102)"